.popup__container{
  padding: 34px 36px 37px;
  max-width: 430px;
  min-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 685px) {
  .popup__container{
    padding: 25px 22px;
  }
}
