.profile__info{
  padding-top: 22px;
  padding-bottom: 25px;
  flex-basis: calc(336px + 244px - 30px);
  display: flex;
  flex-direction: column;
  max-width: calc(880px - 120px - 150px -  60px);
  gap: 4px 18px;
}

@media screen and (max-width: 950px) {
  .profile__info{
    width: 100%;
    max-width: 100%;
    padding: 26px 0 36px;
    flex-basis: auto;
    gap: 14px 10px;
    justify-content: center;
  }
}